<div class="mt-4">
    <h3>Create courses</h3>
    <form method="POST" action="/courses/store"> 
        <div class="mb-3">
            <label for="name">Tên khóa học</label>
            <input type="" class="form-control" name="name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="description">Mô tả khóa học</label>
            <input type="" class="form-control" name="description" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="videoId">URL video</label>
            <input type="" class="form-control" name="videoId" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="level">Trình độ</label>
            <input type="" class="form-control" name="level" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary">Tạo khóa học</button>
    </form>
</div>